{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">

        <h1>Imagen Demo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum aut, sequi sapiente tempora ab
            veritatis ratione, incidunt, vel perferendis obcaecati explicabo tempore beatae sint atque quae amet. Nobis,
            at?</p>
    </div>
    <div class="col-4">

        <img src="assets/img/demo.jpeg" class="img-thumbnail">
    </div>
</div>

{{> footer}}